<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de datos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-3xl font-bold text-gray-900 mb-4">¡Datos guardados correctamente!</h1>
        <p class="text-lg text-gray-700 mb-8">Los datos han sido guardados en la base de datos.</p>
        <ul class="text-gray-700">
            <li><strong>Año:</strong> <%= datos.año %></li>
            <li><strong>Marca:</strong> <%= datos.marca %></li>
            <li><strong>Color:</strong> <%= datos.color %></li>
            <li><strong>Combustible:</strong> <%= datos.combustible %></li>
            <li><strong>Número de puertas:</strong> <%= datos.num_puertas %></li>
            <li><strong>Tracción:</strong> <%= datos.traccion %></li>
        </ul>
        <a href="/" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Volver al formulario</a>
    </div>
</body>
</html>
